@model _04_InsecureDirectObjectReference.Controllers.BankIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            Account
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (Pair account in Model.Accounts)
        {
            <tr>
                <td>@Html.ActionLink(account.First.ToString(),"Account2",new {accountId = account.Second.ToString()})</td>
            </tr>
        }
    </tbody>
</table>